
input{
    border:none;
    border-bottom:2px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    color:#fff;
}
input:focus{
    border:none;
    border-bottom:2px solid rgb(9, 112, 197);
    background-color: transparent;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}
